.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 992px !important;
}

#submit-btn{
  background-color:lightseagreen;
  color: rgb(19, 17, 17);
}

.bg{
  background-color: rgb(19, 17, 17);
  color:lightseagreen;
}

.hidden{
  display: none;
}